.wrapper {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
}
.containner {
    display: flex;
    width: 83.333%;
    padding: 40px 0;
}
.col-1 {
    width: 20%;
}
.col-2 {
    padding: 16px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    opacity: 1;
    border-width: 1px;
}
.user-img {
    width: 44px;
}
.user-name {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;

    p {
        margin-bottom: 0;
    }
}
.user-input {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 4px;
    font-size: 13px;
    input {
        display: block;
        width: 100%;
        border-radius: 4px;
        padding: 0.375rem 0.75rem;
        border: 1px solid rgb(224, 224, 224);
        min-height: 16px;
        height: 40px;
    }
    input:disabled {
        cursor: default;
        background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
        color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
        border-color: rgba(118, 118, 118, 0.3);
    }
}
.user-information {
    display: flex;
}
.option-item {
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    padding: 5px 0;
}
.options {
    padding: 10px 0;
}
.update-btn {
    margin-top: 10px;
    button {
        opacity: 1;
        padding: 7px 50px;
        border-radius: 5px;
        background-color: var(disabled-btn);
        color: rgb(228, 229, 240);
        cursor: pointer;
    }
}
.active {
    button {
        background-color: var(--background-color-button);
    }
}
button[disabled='disabled'],
button:disabled {
    cursor: not-allowed;
}
