.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 700px;
}
.containener {
    width: 83.333%;
    display: flex;
}
.sidebar {
    width: 20%;
    background-color: white;
    padding: 12px 24px 12px 0;
}
.sidebar-header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.sidebar-search {
    width: 100%;
    input {
        padding: 10px 20px;
        border-radius: 15px;
        background-color: #e2e8f0;
        font-weight: 400;
        line-height: 1.5;
        color: #64748b;
        width: 100%;
    }
}
.chat-space {
    width: 60%;
}
.chat-online {
    width: 20%;
}
.user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.user-containner {
    display: flex;
    margin: 20px 0;
    cursor: pointer;

    &:hover {
        background-color: #f1f5f9;
    }
}

.user-info {
    margin-left: 12px;
    flex: 1;
}
.user-name {
    color: #64748b;
    font-size: 1.7rem;
    font-weight: 700;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-option {
    button {
        padding: 10px;
        background-color: E2E8F0;
        cursor: pointer;
        margin-right: 20px;
        border-radius: 8px;
        &:hover {
            background-color: #bfdbfe;
        }
    }
}
.user-status {
    font-size: 1.2rem;
}
.history {
}
.chat-wrapper {
    overflow-y: scroll;
    height: 50%;
    background-color: rgb(219, 234, 254);
    padding: 0 20px;
}
.input-wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    button {
        border-radius: 50%;
        cursor: pointer;
        width: 38px;
        height: 38px;
    }
    input {
        width: 70%;
        border-radius: 8px;
        background-color: rgb(226, 232, 240);
        padding: 10px;
        font-size: 1.5rem;
    }
}
