.wrapper {
    display: flex;
    cursor: pointer;
    padding: 5px 0;
    &:hover {
        background-color: var(--primary);
    }
}
.img {
    width: 60px;
    height: 60px;
}
.info {
    margin-left: 10px;
    font-size: 1.3rem;
    & .name {
        font-weight: 700;
    }
}
