.wrapper {
    background-color: var(--primary);
    width: 83.333%;
}
.titleProduct {
    position: relative;
    height: 44px;
    background-color: #c8191f;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    width: 368px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header {
    position: absolute;
    top: -36px;
    right: 10px;
    color: #a22327;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
}



@media all and (min-width: 1900px) {
    .titleProduct {
        margin-left: 145px;
    }
    .header {
        right: 145px;
    }
}
