.product-container {
    margin-top: 20px;
    background-color: var(--white-background);
    padding: 20px 0 50px 0;
}
.wrapper {
    width: 83.333%;
}
.header {
    margin-left: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    padding-bottom: 20px;
}
.title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #333333;
}
.status {
    display: flex;
    margin-top: 5px;
}
.rate {
    margin-right: 25px;
    color: #ffce3d;
}
.storage {
    margin-right: 25px;
    color: #378914;
    font-weight: 600;
}
.warranty {
    color: #d75012;
    font-weight: 600;
}
.item {
    width: 40%;
}
.price {
    width: 30.83%;
    margin-left: 20px;
}
.oldprice {
    margin-bottom: 10px;
}
.location {
    width: 29.17%;
}
.info {
    display: flex;
}
.img {
    display: flex;
    justify-content: center;
}
.img img {
    width: 100%;
}
.col {
    display: flex;
    font-size: 1.4rem;
}
.col-left {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
.col-right {
    width: 50%;
}
.title-gift {
    background-color: #34a105;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 13px 15px;
    width: 95%;
}
.gift {
    margin-top: 10px;
}
.content-gift {
    font-size: 1.4rem;
    color: #ff0000;
    margin: 10px 0;
    width: 90%;
}
.buy {
    width: 95%;
    display: flex;
}
.buy-btn {
    height: 45px;
    background-color: #c8191f;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.7rem;
    flex: 1;
    width: 100%;
}

.add-btn {
    height: 45px;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.7rem;
    flex: 1;
    margin-right: 10px;
    background-color: var(--white-background);
    color: #c8191f;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c8191f;
}
.map {
    margin-top: 20px;
    width: 90%;
}
.recommend {
    display: flex;
}
.re-title {
    color: #333333;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #e2e2e2;
}
.re-container {
    margin-top: 20px;
    background-color: var(--white-background);
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
