.container {
    width: 83.333%;
}
.wrapper {
    background-color: white;
    width: 100%;
    display: flex;
}
.list-btn {
    padding: 10px 41px;
    cursor: pointer;
    background-color: red;
    font-weight: 700;
    font-size: 1.6rem;
    position: relative;
    display: flex;
}
.list-item {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    margin-top: -4px;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.input:checked ~ .list-item {
    display: block;
}
.subside {
    margin: auto;

    cursor: pointer;
    font-weight: 700;
    font-size: 1.6rem;
}
.subside {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.6rem;
}
