.wrapper {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}
.containner {
    width: 83.333%;
    padding-top: 30px;
    padding-bottom: 50px;
}
.row {
    display: flex;
}
.title {
    & h1 {
        font-size: 2.8rem;
        font-weight: bold;
        color: #555;
        margin: 20px 0;
        text-transform: uppercase;
        text-align: justify;
    }
}
.main-post {
    background-color: white;
    padding: 20px 15px;
    flex: 2;
}
.recent-post {
    background-color: white;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    flex: 1;
}
.recent-item {
    display: flex;
    align-items: center;

    height: 58px;
}
.recent-img {
    width: 100px;
    height: 56.66px;
}
.img-slider {
    height: 400px;
    width: 100%;
}

.title-slider {
    font-size: 1.6rem;
    font-weight: bold;
}
.slider {
    width: 100%;
}
.height-100 {
    margin-left: 5px;
    height: 100%;
    & p {
        margin-bottom: 0;
        line-height: 1.2;
    }
}
.eye-icon {
    margin-top: -2px;
}
.article {
}

.article-item {
}

.article-title {
    & img {
        width: 300px;
        height: 230px;
    }
}
.author {
    display: flex;
}
.content {
    display: flex;
    margin-top: 20px;
}

.left-column {
    flex: 2;
}
.right-column {
    flex: 1;
}
.article-author {
}

.article-content {
}
.promote-wrapper {
    padding: 20px 15px 5px 15px;
    background-color: white;
}
.right-column {
    margin-left: 20px;
}
.promote-title {
    font-size: 1.7rem;
    font-weight: 700;
}

.promote-img {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    & img {
        width: 100%;
        &:hover {
            opacity: 0.8;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        left: 0;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.55));
        z-index: 0;
    }
    & a {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        color: #fff !important;
        line-height: 18px;
        font-weight: 700;
        font-size: 1.7rem;
        z-index: 1;
        text-align: center;
    }
}
