.header {
    display: flex;
    justify-content: space-between;
    div {
        font-size: 1.4rem;
        color: #0d6efd;
    }
}
.img-noti {
    padding: 20px 0;
}
.col-2 {
    width: 100%;
    padding: 30px;
    background-color: var(--white-background);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
