.container {
    background-color: var(--white-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    padding: 50px 0;
}
.input-box input {
    width: 400px;
    padding: 15px 15px 15px 40px;
    border-radius: 40px;
}
.icon {
    position: absolute;
    right: 367px;
    top: 16px;
    font-size: 2rem;
}
.icon-eye {
    position: absolute;
    font-size: 2.3rem;
    right: 16px;
    top: 9px;
}
.input-box {
    position: relative;
}
.btn {
    width: 400px;
    padding: 15px;
    color: rgba(22, 24, 35, 0.34);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}
.active {
    background-color: #e0052b;
    color: white;
}
button[disabled='disabled'],
button:disabled {
    cursor: not-allowed;
}
