.wrapper {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
}
.containner {
    display: flex;
    padding: 40px 0;
    width: 83.333%;
}
.col-1 {
    width: 20%;
}
.col-2 {
    padding: 16px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    opacity: 1;
    border-width: 1px;
}
.user-img {
    width: 44px;
}
.user-name {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;

    p {
        margin-bottom: 0;
    }
}

.user-information {
    display: flex;
}
.option-item {
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    padding: 5px 0;
}
.options {
    padding: 10px 0;
}
