.wrapper {
    width: 100%;

    justify-content: center;
}
.content {
    background-color: var(--white-background);
}
.containner {
    display: flex;
    padding: 40px 0;
    width: 83.333%;
}

.col-2 {
    width: 100%;
}
.info {
    padding: 30px;
}
.body {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 100px;
    height: 100px;
}
.price {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.old-price {
    text-decoration: line-through;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: solid 1px rgba(0, 0, 0, 0.09);
    padding: 25px;
    button {
        color: var(--white-background);
        padding: 8px 10px;
        font-weight: 400;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.26);

        min-width: 150px;
        min-height: 40px;
        margin-left: 10px;
    }
}
.item:nth-child(n + 2) {
    border-top: solid 1px rgba(0, 0, 0, 0.09);
}
.total {
    padding-bottom: 25px;
    font-size: 1.7rem;
    font-weight: 500;
    color: red;
}
.empty {
    background-color: var(--white-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    div {
        margin-top: 20px;
        font-size: 1.7rem;
    }
    img {
        width: 200px;
        height: 200px;
    }
}
.info-left {
    margin-left: 8px;
    div {
        font-size: 1.6rem;
        font-weight: 500;
    }
}
.shop-name {
    font-size: 1.7rem;
    font-weight: bold;
}
.evaluate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        color: var(--white-background);
        padding: 8px 10px;
        font-weight: 400;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.26);

        width: 150px;
        height: 40px;
        margin-left: 10px;
    }
}
.infor-order {
    font-size: 1.4rem;
    font-weight: 300;
}
.status-payment {
    color: red;
}
