.container-default {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}
.content {
    display: flex;
    width: 83.3333%;
}
.col-left {
    width: 21.6%;
}
.col-right {
    width: 70%;
}
.content {
    margin: 50px 0;
}
