.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 12px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}
.img {
    width: 100%;
    object-fit: contain;
}
.subheader {
    display: flex;
}

.slider {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: calc(var(--height-header) + 30px);
    overflow: hidden;
    max-width: 100%;
}

.wrap {
    background-color: #ccc;
    display: flex;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
        // display: none;
        height: 400px;
    }

    .hidden {
        display: block;
    }
}
