.wrapper {
    height: 120px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    width: 100%;
}
.inner {
    height: 100%;
    width: Calc(100% * 0.833);
    background-color: var(--black-color);
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
    height: 60px;
    margin-right: 30px;
}
.avatar-user {
    position: absolute;
    left: -7px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;

    align-items: center;
    img {
        width: 40px;
        height: 40px;
    }
}
.username {
    font-size: 1.4rem;
    color: white;
    width: 70px;
    text-align: center;
}
.btn-list {
    padding: 8px 21px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--white-background);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input {
    display: flex;
    position: relative;
    border-radius: 20px;
}
.list-item {
    display: flex;
    margin-left: 30px;
    margin-top: 17px;
}
.item {
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}
.subtiltle {
    font-size: 1.4rem;
    color: white;
    width: 70px;
    text-align: center;
}

.nav {
    display: flex;
    background-color: var(--white-background);
    flex-direction: column;
    position: absolute;
    padding: 15px 10px;
    top: 68px;
    z-index: 3;
    width: 224px;
    right: -134px;
    border-radius: 5px;
    display: none;
    &:after {
        content: '';
        position: absolute;
        top: -22px;
        z-index: 10;
        width: 217px;
        height: 24px;
        right: 2px;
    }
}

.whenlogin {
    position: relative;
    &:hover .nav {
        display: block;
    }
}
.subnav {
    padding: 8px;
    &:hover {
        background-color: var(--primary);
    }
}
.subnav button {
    background-color: transparent;
}
.icon-subnav {
    margin-right: 10px;
}
.icon-subnav svg {
    height: 2rem;
    width: 2rem;
}
.last-icon {
    margin-left: 2px;
}
.custom-item {
    position: relative;
}
.count-cart {
    text-align: center;
    position: absolute;
    left: 40px;
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    top: -6px;
}
