.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;
    text-decoration: none;

    &:hover {
        background-color: red;
    }
}

.title {
    margin-left: 10px;
}
